.product {
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 170px;
}


.img {
    width: 100%;
    background: lightgray;
    height: 100px;
    margin: 0 auto;
}

.description {
    font-size: 0.35em; /* Уменьшен размер текста */
    color: #3b3939;
}

.add-btn {
    width: 100%;
}
